@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or tailwind.css */
body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: black;
  color: white;
}

body.light {
  background-color: white;
  color: black;
}

/* You can also define other custom dark theme styles here */

  
